{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <main id="main">
    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Blog</h2>

          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Blog</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">
            {% for Article in Articles %}
            <article class="entry">
              <div class="entry-img">
                <img src="{{Article.thumbnail.url}}" alt="" class="img-fluid">
              </div>
              <h2 class="entry-title">
                <a href="{% url 'blog:single' slug=Article.slug %}">{{ Article.title }}</a>
              </h2>
              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{ Article.created_date }}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
                </ul>
              </div>
              <div class="entry-content">
                <p>
                  {{ Article.description }}
                </p>
                <div class="read-more">
                  <a href="{% url 'blog:single' slug=Article.slug %}">Read More</a>
                </div>
              </div>
              {% for cat in Article.category.activ_cat %}
                <a href="{% url 'blog:category' slug=cat.slug %}"><div style="text-align-last: left;">#{{cat.title}}</div></a>
              {% endfor %}
            </article>
            {% endfor %}
            <div class="blog-pagination">
              <ul class="justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="{% url 'blog:category' slug=Category.slug %}?page={{page_obj.previous_page_number}}">&lt;</a></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                  <li class="active"><a href="?page={{i}}">{{i}}</a></li>
                {% else %}
                  <li><a href="?page={{i}}">{{i}}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="{% url 'blog:category' slug=Category.slug %}?page={{page_obj.next_page_number}}">&gt;</a></li>
                {% endif %}
              </ul>
            </div>
          </div><!-- End blog entries list -->

          {% include 'blog/sidebar.html' %}
          <!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main>
{% endblock content %}