{% load static %}
{% load blog_tags %}
<div class="col-lg-4">

    <div class="sidebar">

      <h3 class="sidebar-title">Search</h3>
      <div class="sidebar-item search-form">
        <form method="get" action="{% url 'blog:search' %}">
          <input type="text" name="q" value='{{ request.GET.q }}'>
          <button type="submit"><i class="bi bi-search"></i></button>
        </form>
      </div><!-- End sidebar search formn-->

     {% SidebarCategories %}
      <!-- End sidebar categories-->

      {% SidebarRecentPosts %}  
       </div>
       <!-- End sidebar -->

  </div>